{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>MATCH MATCH</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TeamA</th>
                <th>TeamB</th>
                <th>ScoreTeamA</th>
                <th>ScoreTeamB</th>
                <th>Date</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.TeamA }}</td>
                <td>{{ game.TeamB }}</td>
                <td>{{ game.scoreTeamA }}</td>
                <td>{{ game.scoreTeamB }}</td>
                <td>{{ game.date ? game.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.rating }}</td>
                <td>
                    <a href="{{ path('home_show', {'id': game.id}) }}">Voir le Match en détail</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('bet_new') }}">Parier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
