{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Match {{ game.TeamA }} - {{ game.TeamB }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ScoreTeamA</th>
                <td>{{ game.scoreTeamA }}</td>
            </tr>
            <tr>
                <th>ScoreTeamB</th>
                <td>{{ game.scoreTeamB }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ game.date ? game.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ game.rating }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('home_pariershow', {'id': game.id}) }}">Parier</a>
    {% endif %}

    <a href="{{ path('home_match') }}">Voir Tous les matchs</a>

{% endblock %}
